
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Raleway', Arial, sans-serif;
  letter-spacing: 0.1em;
  /* hide menu overflow */
  overflow-x: hidden;
}

h1, h2, h3, p, a {
  font-weight: 300;
}

.makeup {
  color: #bcbcbc;
  text-decoration: none;
  padding: 7px;
}

.makeup:hover {
  color: pink;
  transition: 0.6s;
  box-shadow: 2px 5px 10px rgb(235, 228, 228) ;
}

nav {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 3.1em;
  background: #fff;
  z-index: 1;
}
.pic {
  border-radius: 1000px;
  margin-left: 40px;
  margin-top: 100px;
  width: 20%; 
  box-shadow: 0px 10px 20px;
}

.bio {
  display: block;
  margin-left: 390px;
  margin-right: 290px;
  margin-top: -230px;
  width: 50%;
  font-family: 'Open Sans Condensed', sans-serif;
  color: rgb(78, 77, 77);
  font-size: 30px;
}
.bio:hover{
  background-image: linear-gradient(to left, rgb(248, 151, 248), rgb(179, 113, 226), rgb(184, 51, 218), rgb(201, 108, 32), rgb(206, 135, 30), rgb(255, 137, 82), rgb(122, 37, 37));   -webkit-background-clip: text;
  color: transparent;
  transition: 0.6s;
  box-shadow: 10px 10px 10px rgb(235, 228, 228) ;
}
.skill {
  display: block;
  text-align: center;
  margin-top: 160px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 50px;
  color: black;
  
}
.name-project1 {
  font-size: 30px;
  margin-top: 100px;
  margin-right: 850px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}
.name-project1:hover{
  color: rgb(218, 95, 13);
  transition: 0.6s;
}
.name-project2 {
  font-size: 30px;
  margin-top: -250px;
  margin-right: 45px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}
.name-project2:hover{
  color: rgb(221, 38, 38);
  transition: 0.6s;
}
.name-project3 {
  font-size: 30px;
  margin-top: -250px;
  margin-right: -800px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}
.name-project3:hover{
  color: rgb(196, 105, 180);
  transition: 0.6s;
}

.name-project4 {
  font-size: 30px;
  margin-top: 100px;
  margin-right: 850px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}
.name-project4:hover{
  color: rgb(85, 69, 155);
  transition: 0.6s;
}

.name-project5 {
  font-size: 30px;
  margin-top: -250px;
  margin-right: 45px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}
.name-project5:hover{
  color: rgb(199, 158, 104);
  transition: 0.6s;
}

.btn1 {
  font-size: 25px;
  padding: 80px;
  margin-top: -5px;
  margin-left: -860px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}
.project1 {
  text-decoration: none;
  border: 1px solid black;
  padding: 50px;
  /* background-image: url("https://i.imgur.com/QyGZcw7.png"); */
}

.btn2 {
  font-size: 25px;
  padding: 80px;
  margin-top: 10px;
  margin-left: -50px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}

.project2 {
  text-decoration: none;
  border: 1px solid black;
  padding: 50px;
  /* background-image: url("https://i.imgur.com/QyGZcw7.png"); */
}

.btn3 {
  font-size: 25px;
  padding: 80px;
  margin-top: 10px;
  margin-left: 800px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}
.project3 {
  text-decoration: none;
  border: 1px solid black;
  padding: 50px;
  /* background-image: url("https://i.imgur.com/QyGZcw7.png"); */
}

.btn4 {
  font-size: 25px;
  padding: 80px;
  margin-top: -5px;
  margin-left: -860px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}
.project4 {
  text-decoration: none;
  border: 1px solid black;
  padding: 50px;
  /* background-image: url("https://i.imgur.com/QyGZcw7.png"); */
}

.btn5 {
  font-size: 25px;
  padding: 80px;
  margin-top: 10px;
  margin-left: -50px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}

.project5 {
  text-decoration: none;
  border: 1px solid black;
  padding: 50px;
  /* background-image: url("https://i.imgur.com/QyGZcw7.png"); */
}
.skill:hover {
  color: rgb(240, 203, 102);
  transition: 0.6s;
}
.icons {
  display: block;
  text-align: center;
  margin-top: 5px;
  padding: 50px;
  font-size: 60px; 
}

.hover-icons:hover {
  animation: shake 0.6s infinite;
  }
  @keyframes shake {
  0% {
  transform: translate(0px, 0px) rotate(0deg);
  }
  25% {
  transform: translate(1px, 1px) rotate(1deg);
  }
  50% {
  transform: translate(-1px, -1px) rotate(-1deg);
  }
  75% {
  transform: translate(2px, -1px) rotate(2deg);
  }
  100% {
  transform: translate(-1px, 1px) rotate(-1deg);
  }
}
.name-icons{
  font-size: 30px;
  margin: 30px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}
.name-icons:hover{
  color: rgb(12, 170, 130);
  transition: 0.6s;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgb(192, 192, 192);
  margin: 1em 0;
  padding: 0;
  margin-left: 100px;
  margin-right: 100px;
}

.img {
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 60px;
  width: 50%; 
  border: 1px solid rgb(0, 0, 0);
} 

.arrow { 
 font-size: 60px;
 /* display: flex; */
 text-align: center;
 margin-top: 1px;
}

#logo-container {
  position: fixed;
  left: 0.4em;
}

#logo-container a {
  display: block;
  font-size: 1.4em;
  padding: 0.5em 0.5em 0.3em;
  color: #707070;
}

#menu-toggle {
  user-select: none;
}

#menu {
  display: flex;
}

#menu li {
  list-style: none;
}


@media screen and (max-width: 767px) {  
  #menu-toggle {
    position: fixed;
    display: block;
    right: 0.8em;
  }
  
  #menu-toggle > input {
    position: absolute;
    right: 0em;
    top: 0em;
    width: 2.9em;
    height: 2.9em;
    cursor: pointer;
    opacity: 0.0; /* Hide the checkbox */
    z-index: 3; /* and place it over the hamburger spans */
    -webkit-touch-callout: none;
  }
  
  #menu-toggle span {
    position: relative;
    display: block;
    top: 7px;
    width: 36px;
    height: 1px;
    margin-bottom: 12px;
    border-radius: 0.1em;
    background: #707070;
    transform-origin: 0px 0px;
    z-index: 2;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  /* Rotate the top hamburger span clockwise */
  #menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg);
  }
  
  /* Hide the middle hamburger span */
  #menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  /* Rotate the bottom hamburger span anti-clockwise */
  #menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg);
  }

  #menu {
    position: fixed;
    top: 3.1em;
    height: 100vh;
    width: 60vw;
    right: -60vw; /* Hide the mobile menu on the right */
    flex-direction: column;
    padding-top: 0.5em;
    padding-left: 1.5em;
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  #menu-toggle input:checked ~ #menu {
    /* Slide the mobile menu from right to left */
    transform: translate(-60vw, 0); 
  }
  
  #menu li {
    padding: 1em 0;
    -webkit-tap-highlight-color: transparent;
  }
  
  #menu a {
    font-size: 1.3em;
  }  
}


@media screen and (min-width: 768px) {
  nav {
    justify-content: center;
  }
  
  #logo-container {
    left: 1.2em;
  }
  
  #logo-container a {
    padding-top: 0.4em;
  }
    
  #menu-toggle > input, #menu-toggle > span {
    display: none;
  }
  
  #menu > li {
    margin-top: 0.2em;
    padding: 0.5em 1em;
  }
}




article {
  display: flex;
  flex-direction: column;
}




@media screen and (max-width: 499px) {
  #introduction {
    /* Extra padding so that image fills full height */
    padding-bottom: 6em; 
  }
}


/* Small Devices, Tablets */
@media screen and (min-width: 768px) {
  #introduction {
    width: 70%;
  } 
}

/* Medium Devices, Desktops */
@media screen and (min-width: 992px) {
  #introduction {
    width: 60%;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  #introduction {
    width: 40%;
  }
}

@media screen and (min-width: 1200px) {
  .img-front-end-portfolio {
    width: 60%;
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .img-front-end-portfolio {
    width: 80%;
    height: auto;
  }
}

/* Medium Devices, Desktops */
@media screen and (min-width: 992px) {
  .img-front-end-portfolio {
    width: 70%;
    height: auto;
  }
}

@media screen and (min-width: 1200px) {
  .img-front-end-portfolio {
    width: 60%;
    height: auto;
  }
}
@media screen and (min-width: 500px) {
  .one-tile {
  width: 50%;
  }
}









